.vs/
SMProxy.Tests/bin/
SMProxy.Tests/obj/
SMProxy/bin/
SMProxy/obj/
WindowsProxySetter/obj/
WindowsProxySetter/bin/
SM.Proxy.proxyscan.io.Provider/obj/
SMProxy.Providers/obj/
SM.Proxy.proxyscan.io.Provider/bin/
SMProxy.Providers/bin/
